block vars

block content
  .card-wrap
    img.card__img(src="img/card.png", alt="")
    .card__content-wrap
      .card__title Welcome to Nethernite
      .card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
