block vars

block content
  .comment__body-comment
    img.comment__body-comment-avatar(src="img/avatar.png", alt="")
    .comment__body-text-wrap
      .comment__body-title
        .comment__body-name-user Svetlakov
        .comment__body-date 22 May
      .comment__body-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
