block vars

block content
.comment
  .comment__header
    .comment__header-comments
      .comment__header-comments-wrap
        img.comment__header-comments-icon(src="/img/icons/comment.png", alt="comment")
        | Comments: 
        span.comment__header-comments-span 48

    .comment__header-btn
      a.comment__header-btn-item.comment__header-btn_active(href="/") Popular
      a.comment__header-btn-item(href="/") Recent
  .comment__body
    form.comment__body-form
      input.comment__body-input(type="text" placeholder="Type comment here..")
      input.comment__body-submit(type="submit" value="")

  include comment
  include comment
