block vars

block content
	.navbar
		.menu-sm#open
		nav.navbar__nav#menu

			a.navbar__nav-item.navbar__nav-item_active(href="/") home
			a.navbar__nav-item(href="/") Marketplace
			a.navbar__nav-item(href="/") Booster Packs
			a.navbar__nav-item.navbar__nav-item_play(href="/") 
				.navbar__nav-item.navbar__nav-item_play_bg Play

		.navbar__user-info
			a.navbar__link(href="/")
				img.navbar__user-info-item.navbar__user-info-item_achievement(src="./img/icons/achievement.png", alt="achievement")
				.navbar__indicator.navbar__indicator_achievement
			a.navbar__link(href="/")
				img.navbar__user-info-item.navbar__user-info-item_notification(src="./img/icons/notification.png", alt="notification")
				.navbar__indicator.navbar__indicator_notification
			.navbar__user-info-item.navbar__user-info-item_point
				.navbar__user-info-item_point-btn(href="/")
					img.navbar__icon(src="./img/icons/gem.png", alt="gem", width="35")
					div
						span.navbar__user-info-item_point-btn_white 1
						| 42
			.navbar__user-info-item.navbar__user-info-item_user
				img.navbar__user-info-item_avatar(src="https://via.placeholder.com/150")
