block vars
  - var title = "game"

.pagination
  .pref
    .pagination__control
      img.back__icon(src="./img/icons/arrow-left.png", alt="back")
      | See Previous
  .next
    .pagination__control
      | See Next
      img.next__icon(src="./img/icons/arrow-right.png", alt="next")
